.config/nvim/plugged/*
.config/pulse/*
.config/nvim/.vimdid/
.config/nordvpn/*
.config/syncthing/*
.config/zsh/.zcompdump
.config/dconf/user
.config/QTProject.conf
.config/dconf/*
Dev/*
Documents/*
Pictures/*
Backups/*
.local/share/nvim/*
.local/state/*
.Xauthority
.bash_logout
.cache/
.fontconfig/
.gitconfig
.pki/
.sc-iminfo
.mozilla/*
.local/share/go
.ssh/*
Downloads/*
Videos/*
transfer/*
.calcurse/*
.cat_installer/*
.config/vimwiki/*
.local/src/
.config/zsh/.zsh_hist
.bash_history
.config/VirtualBox/*
.local/share/Anki/*
.local/share/Anki2/*
.local/share/keyrings/*
.local/share/xorg/*
.local/share/password-store/*
.local/share/recently-used.xbel
.local/share/zathura/*
.local/share/ranger/bookmarks
.local/share/recently-used.xbel
.python_history
.config/chromium/*
Music/*
.asoundrc__
